body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center !important;
    justify-content: center;
}

.mainContainer {
    color: #858585;
    padding: 0;
}

.leftContainer {
    border-right: solid #999999 2px;
}

.rightContainer {
    background-color: #FFF1F1;
    border-radius: 0 15px 15px 0;
}

.iconsLeft {
    display: flex;
    justify-content: center;
    color: #999999;
    padding: 20px;
    border: radius 10px;
    font-size: 2em;
}

.iconsLeft:hover {
    color: #D46666;
}

.wigets {
    padding: 50px;
}

.wigets>div>div>i {
    padding: 5px;
    color: #FB9F89;
    font-size: 3em;
}

.wigetCard {
    width: 13rem;
    height: 10rem;
    margin: 10px;
}

.shadows {
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.49);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.49);
}

.spaceText {
    padding: 20px;
}

.buttonCenter {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.paddLeft {
    padding-left: 20px;
}